.o_ekara_dashboard{

padding:30px;
background:#f4f7fc;
min-height:100vh;

}


.dashboard_header{

margin-bottom:20px;

h1{

font-size:32px;
font-weight:700;
margin:0;

}

span{

color:#7f8c8d;

}

}



.ek_card{

padding:25px;

border-radius:20px;

display:flex;

justify-content:space-between;

align-items:center;

color:white;

cursor:pointer;

box-shadow:
0 8px 25px rgba(0,0,0,.08);

transition:.4s;

overflow:hidden;

position:relative;


&:hover{

transform:translateY(-8px);

box-shadow:
0 15px 35px rgba(0,0,0,.15);

}

.icon{

font-size:45px;

opacity:.3;

}

h2{

font-size:32px;
margin:0;

}

}



.total{

background:
linear-gradient(
135deg,
#667eea,
#764ba2
);

}


.male{

background:
linear-gradient(
135deg,
#36d1dc,
#5b86e5
);

}


.female{

background:
linear-gradient(
135deg,
#f857a6,
#ff5858
);

}


.attrition{

background:
linear-gradient(
135deg,
#ff9966,
#ff5e62
);

}



.section{

margin-top:35px;

}


.dept_card{

background:white;

padding:25px;

border-radius:20px;

text-align:center;

margin-top:15px;

cursor:pointer;

transition:.3s;

box-shadow:
0 3px 10px rgba(0,0,0,.06);


&:hover{

transform:scale(1.05);

}


.dept_icon{

font-size:25px;

color:#6C63FF;

margin-bottom:10px;

}


h2{

font-weight:700;
margin-bottom:5px;

}

}