.survey_dashboard{

padding:25px;
background:#f4f6fa;


.survey_card{

padding:25px;
border-radius:18px;

color:white;

text-align:center;

box-shadow:
0 5px 20px
rgba(0,0,0,.08);

transition:.4s;

margin-bottom:20px;

}


.survey_card:hover{

transform:
translateY(-8px);

}


.c1{
background:
linear-gradient(135deg,#667eea,#764ba2);
}

.c2{
background:
linear-gradient(135deg,#11998e,#38ef7d);
}

.c3{
background:
linear-gradient(135deg,#ff512f,#dd2476);
}

.c4{
background:
linear-gradient(135deg,#f7971e,#ffd200);
}


.count{

font-size:34px;
font-weight:700;

}


.main_card{

padding:25px;

border-radius:20px;

background:white;

margin-top:20px;

box-shadow:
0 4px 10px
rgba(0,0,0,.08);

}


.progress{

height:24px;
border-radius:20px;

}

}