<odoo>
    <menuitem id="menu_device_root"
              name="Device Attendance"
              parent="hr.menu_hr_root"/>

    <menuitem id="menu_device_logs"
              name="Device Logs"
              parent="menu_device_root"
              action="action_device_logs"/>

    <menuitem id="menu_attendance_sync"
              name="Attendance Sync"
              parent="menu_device_root"
              action="action_attendance_sync_wizard"/>
</odoo>