<odoo>
    <record id="ir_cron_device_attendance_sync"
            model="ir.cron">

        <field name="name">
            Device Attendance Sync
        </field>

        <field name="model_id"
               ref="model_attendance_sync"/>

        <field name="state">code</field>

        <field name="code">
model.cron_import_and_process_attendance()
        </field>

        <field name="interval_number">1</field>
        <field name="interval_type">days</field>
        <field name="active">True</field>

    </record>

    <menuitem id="menu_device_root"
              name="Device Attendance"
              parent="hr.menu_hr_root"/>

    <menuitem id="menu_device_logs"
              name="Device Logs"
              parent="menu_device_root"
              action="action_device_logs"/>

    <menuitem id="menu_attendance_sync"
              name="Attendance Sync"
              parent="menu_device_root"
              action="action_attendance_sync_wizard"/>
</odoo>